body {
    font-family: "monaco", sans-serif, monospace;
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    font-size: 70px;
    font-weight: 900;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.main {
    display: flex;
    flex-wrap: nowrap;
    border: solid 1px black;
    margin: 5px;
    padding: 5px;
}

.list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: solid 1px darkblue;
    margin: 5px;
    padding: 10px;
}

.sending {
    display: flex;
    flex-grow: 5;
    flex-direction: column;
    border: solid 1px lightcoral;
    margin: 5px;
    padding: 10px;
}


.listening {
    display: flex;
    flex-grow: 5;
    flex-direction: column;
    border: solid 1px rgb(48, 142, 142);
    margin: 5px;
    padding: 10px;
}

.listening label, .listening input {
    display: flex;
    flex-direction: column;
}

textarea {
    flex-grow: 4;
    resize: none;
    width: 99%;
    height: 150%;
}

.warning {
    flex-grow: 1;
    margin: 5px;
    padding: 10px;
}


